# -*- coding: utf-8 -*-
# vim: ft=yaml
---
ad:
  realm: example.net
  dc: dc1.example.net
  join_username: IntegratorAccount
  join_password: AverySecretAndSecurePasswordYouShouldAutoresetPeriodically

  pkg:
    # Don't purge packages when doing `ad.member.package.clean`
    clean_purge_deps: false
...
